# Ignore Python compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore virtual environment directories
venv/
env/

# Ignore binary files
*.dll
*.exe
*.so
*.dylib
*.json
*.csv
*.xlsx

# Ignore large data files
*.zip
*.tar.gz
*.iso
*.jar

# Ignore build directories created by PyInstaller
dist/
build/